.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
}

.contactList {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contactItem:last-child {
  border-bottom: none;
}

.contactName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
