.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.contactsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contactList {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contactItem:last-child {
  border-bottom: none;
}

.contactName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.contactDetails {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.contactDetails p {
  margin-bottom: 10px; 
  margin-top: 10px; 
 }

.contactHeader {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaço entre o nome e a imagem */
}
 
.trashIcon {
  width: 20px; 
  height: auto;
}

.searchInput {
  margin-top: 10px;
  margin-bottom: 10px;
}