.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  margin-left: 5%;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.addContactForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  margin-right: 10%;
 }

.contactList {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contactItem:last-child {
  border-bottom: none;
}

.contactName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.contactDetails {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.contactDetails p {
  margin-bottom: 10px; 
  margin-top: 10px; 
 }

.contactHeader {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaço entre o nome e a imagem */
}
 
.trashIcon {
  width: 20px; 
  height: auto;
}

.searchInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
}
.clearSearchButton{
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 50%; 
  width: 25px; 
  height: 25px; 
  display: flex; 
  align-items: center;
  justify-content: center; 
}